/*************
DEFAULT
*************/
.menu {
	display: flex;
	justify-content: space-evenly;
	/*position: absolute;
	top: 15%;
	left: 0;*/
	margin: 15px auto;
	width: 100%;
	height: 80%;

	@media screen and (max-width: 1024px) and (min-width: 600px) {
		flex-wrap: wrap;
		margin: 10px auto;
	}

	@media screen and (max-width: 599px) and (min-width: 320px) {
		flex-direction: column;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 5px auto;

		@media screen and (max-width: 1024px) and (min-width: 600px) {
			width: 45%;
		}
	}

	&__image {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 480px;
		box-sizing: border-box;
		background-image: url("../images/default.png");
		border-radius: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

		@media screen and (max-width: 1024px) and (min-width: 600px) {
			width: 224px;
			height: 336px;
			background-size: contain;
		}

		@media screen and (max-width: 599px) and (min-width: 320px) {
			width: 256px;
			height: 384px;
			background-size: contain;
		}
	}

	&__caption {
		display: flex;
		justify-content: center;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		min-width: 169px;
		font-size: 13px;
		color: $white;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);

		&--buy {
			margin-left: 5px;
			text-decoration: none;
			color: $blue-border;
			border-bottom: 1px dashed $blue-border;
      cursor: pointer;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 10% auto;
		width: 70%;
		height: 35%;

		&--title-first {
			font-size: 16px;
			font-weight: bold;
			color: $gray3;

			@media screen and (max-width: 1024px) and (min-width: 600px) {
				font-size: 11px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 13px;
			}

		}

		&--title-second {
			font-size: 48px;
			font-weight: bold;
			color: $black;

			@media screen and (max-width: 1024px) and (min-width: 600px) {
				font-size: 34px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 39px;
			}
		}

		&--taste {
			font-size: 24px;
			font-weight: bold;
			color: $black;

			@media screen and (max-width: 1024px) and (min-width: 600px) {
				font-size: 17px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 20px;
			}
		}

		&--bonus {
			display: flex;
			flex-direction: column;
			width: 60%;
			font-size: 14px;
			font-weight: bold;
			color: $gray3;

			@media screen and (max-width: 1024px) and (min-width: 600px) {
				font-size: 10px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 12px;
			}
		}

		&--bonus > span {
			width: 100%;
		}
	}

	&__weight {
		position: absolute;
		bottom: 15px;
		right: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 81px;
		height: 81px;
		color: $white;
		border-radius: 50%;
		background-color: $blue-border;

		@media screen and (max-width: 1024px) and (min-width: 600px) {
			width: 57px;
			height: 57px;
		}

		@media screen and (max-width: 599px) and (min-width: 320px) {
			width: 65px;
			height: 65px;
		}

		&--value {
			width: 100%;
			height: 50%;
			text-align: center;
			font-size: 42px;

			@media screen and (max-width: 1024px) and (min-width: 599px) {
				font-size: 30px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 34px;
			}

		}

		&--kilo {
			width: 100%;
			height: 30%;
			text-align: center;
			font-size: 21px;

			@media screen and (max-width: 1024px) and (min-width: 600px) {
				font-size: 15px;
			}

			@media screen and (max-width: 599px) and (min-width: 320px) {
				font-size: 17px;
			}
		}
	}
}

#duck-media {
	@media screen and (max-width: 1024px) and (min-width: 600px) {
		width: 90%;
		}
}

/*************
SELECTED
*************/
.selected {
	background-image: url("../images/selected.png");
}

/*************
DISABLED
*************/
.image--disabled {
	background-image: url("../images/disabled.png");
}

.text__color--disabled {
	color: $gray-disabled;
}

.weight--disabled {
	background-color: $gray-disabled2;
}